@font-face {
    font-family: 'NeueMachina';
    src: url('fonts/NeueMachina-Light.eot');
    src: url('fonts/NeueMachina-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/NeueMachina-Light.woff2') format('woff2'),
        url('fonts/NeueMachina-Light.woff') format('woff'),
        url('fonts/NeueMachina-Light.ttf') format('truetype'),
        url('fonts/NeueMachina-Light.svg#NeueMachina-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


:root {
  --mainColor: #000000;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'NeueMachina', monospace;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: .015em;;
  color: #000000;

  background-color: #ffffff;
}

.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #000000;
}

.main-header a {
  text-decoration: none;
}

.about a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
  color: #000;
  text-decoration: none;
  transition: background-size .3s;
}

.about a:hover {
  background-size: 4px 50px;
}

.main-header {
  margin-left: 100px;
  margin-top: 15px;
  position: fixed;
  top: 0;
  /* text-align: center; */
}

section {
  display: none;
}

.main-header:hover section {
    display: inline;
}

.main-footer {
  margin-left: 100px;
  margin-bottom: 15px;
    /* text-align: center; */
}

.grid_gorizontal {
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 350px;
  height: 196px;
}

img {
  display: none;
}

.grid_gorizontal:hover img {
  display: inline;
}


@media screen and (min-width: 320px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    margin-bottom: 150px;

  }

  .main-header {
    margin-left: 30px;
  }

  .main-footer {
    margin-left: 30px;
  }

  .grid_gorizontal {
    background-color: #fff;
    border: 1px solid #000;
    width: 260px;
    height: 145px;
  }

  img {
    width: 260px;
    height: 145px;
  }
}

@media screen and (min-width: 375px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 200px;
    margin-bottom: 150px;
    align-items: center;
  }

  .main-header {
    margin-left: 40px;
  }

  .main-footer {
    margin-left: 40px;
  }

  .grid_gorizontal {
    background-color: #fff;
    border: 1px solid #000;
    width: 295px;
    height: 164px;
  }

  img {
    width: 295px;
    height: 164px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 250px;
    margin-bottom: 200px;
    align-items: center;
  }

  .main-header {
    margin-left: 60px;
  }

  .main-footer {
    margin-left: 60px;
  }

  .grid_gorizontal {
    background-color: #fff;
    border: 1px solid #000;
    width: 314px;
    height: 175px;
  }

  img {
    width: 314px;
    height: 175px;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 55px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 300px;
    margin-bottom: 200px;
    align-items: center;
  }

  .main-header {
    margin-left: 60px;
  }

  .main-footer {
    margin-left: 60px;
  }

  .grid_gorizontal {
    background-color: #fff;
    border: 1px solid #000;
    width: 250px;
    height: 139px;
  }

  img {
    width: 250px;
    height: 139px;
  }
}

@media screen and (min-width: 1280px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 85px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 400px;
    margin-bottom: 350px;
    align-items: center;
  }

  .main-header {
    margin-left: 90px;
  }

  .main-footer {
    margin-left: 90px;
  }

  .grid_gorizontal {
    background-color: #fff;
    border: 1px solid #000;
    width: 310px;
    height: 173px;
  }

  img {
    width: 310px;
    height: 173px;
  }
}


@media screen and (min-width: 1440px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 95px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 400px;
    margin-bottom: 350px;
    align-items: center;

  }

  .main-header {
    margin-left: 100px;
  }

  .main-footer {
    margin-left: 100px;
  }

  .grid_gorizontal {
    background-color: #fff;
    border: 1px solid #000;
    width: 350px;
    height: 196px;
  }

  img {
    width: 350px;
    height: 196px;
  }
}
