@font-face {
    font-family: 'NeueMachinaRegular';
    src: url('fonts/NeueMachinaRegular.eot');
    src: url('fonts/NeueMachinaRegular.eot') format('embedded-opentype'),
         url('fonts/NeueMachinaRegular.woff2') format('woff2'),
         url('fonts/NeueMachinaRegular.woff') format('woff'),
         url('fonts/NeueMachinaRegular.ttf') format('truetype'),
         url('fonts/NeueMachinaRegular.svg#NeueMachinaRegular') format('svg');
}

:root {
  --mainColor: #000000;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'NeueMachinaRegular', monospace;
  font-size: 16px;
  line-height: 34px;
  color: #000000;

  background-color: #ffffff;
}


.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #000000;
}

.about ul {
  list-style: none;
}

.main-header a {
  text-decoration: none;
}

.about a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
  color: #000;
  text-decoration: none;
  transition: background-size .3s;
}

.about a:hover {
  background-size: 4px 50px;
}



.main-header {
  /* margin-top: 10px; */

  margin-left: 100px;
  margin-top: 15px;
  position: fixed;
  top: 0;
  /* text-align: center; */
}

section {
  display: none;
}

.main-header:hover section {
    display: inline;
}

.main-footer {
  /* text-align: center; */
  margin-left: 100px;
  margin-bottom: 15px;
}


img {
  width: 350px;
  height: 196px;

  margin-right: 95px;
  margin-bottom: 95px;

  filter: blur(3px);
  /* filter: blur(5px); */
  /* transition: all 200ms ease; */
}

img:hover {
  filter: blur(0px);
}

/* .vertical {
  width: 140px;
  height: 250px;
  margin-left: 98px;
  margin-top: 43px;
} */

.container {
  width: 1440px;
  margin: 450px auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 100px;
  margin-right: 100px;

}

/* .grid_gorizontal {
  /* background-color: #C4C4C4; */
  /* width: 336px;
  height: 336px;
  margin-bottom: 32px; */ */
  /* padding-left: 43px;
  padding-right: 43px;
  padding-top: 98px;
  padding-bottom: 98px; */
}

/* .grid_vertical {
  background-color: #C4C4C4;
  width: 336px;
  height: 336px;
  /* padding-left: 98px;
  padding-right: 98px;
  padding-top: 43px;
  padding-bottom: 43px; */
} */
